body {
  background-color: #d4e0ef;
  background-color: #edf2f6;
  /* color: white; */
  margin: 0;
  /* font-family: 'Inter', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif; */
  font-family: Arial, sans-serif;
}

.cards {
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); */
  background-color: white;
  border-radius: 4px;
  /* padding: 10px 10px; */
  font-size: 16px;
}

.hr {
  border-bottom: 1px solid #d8d8d8;
}
.p0 {
  padding: 0px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p12 {
  padding: 12px;
}
.p15 {
  padding: 15px;
}
.ph10 {
  padding: 0px 10px;
}
.m5 {
  padding: 5px;
}
.m10 {
  padding: 10px;
}
.m12 {
  padding: 12px;
}
.m15 {
  padding: 15px;
}

.pbutton{
  background-color: #2a74de;
  outline: none;
  padding: 5px 10px;
  border: 0px;
  color: white;
  /* color: red; */
  border-radius: 4px;
}
.sbutton{
  background-color: #eeeeef;
  outline: none;
  padding: 5px 10px;
  border: 0px;
  color: #2a74de;
  color: black;
  border-radius: 4px;
}