.sidebar {
    border-radius: 10px;
    position: sticky;
    top: 63px;

    .container {
        padding: 15px;
        height: 100%;
        height: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .profile_sec {
            height: -webkit-fill-available;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .profile_card {
                padding: 12px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                .username {
                    font-size: 20px;
                }

                img {
                    height: 120px;
                    width: 120px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-top: 30px;
                }

            }
        }
    }
}